Repository shaikhahme/c8y-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @BeateRixen, @MWindel, @rahultsag, @janhommes, @Oezge-Akin, @aaronraab, @l2p-, @iiar-c8y, @martin-c8y, @mgrumann, @saran-govindarajan, @scmi-c8y, @pink-mongoose, @pavanshivajirao, @lara-c8y, @kailol-sag, @Rob-J-SAG, @skom-c8y, @cheinz-sag, @ChrisFurlong

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# Either @username and email.address@domain.com can be used

# These owners will be the default owners for everything in the repo.
* @BeateRixen @MWindel

/content/change-logs/application-enablement/ @rahultsag @janhommes @BeateRixen @MWindel
/content/change-logs/device-management/ @Oezge-Akin @aaronraab @l2p- @BeateRixen @MWindel
/content/change-logs/platform-services/ @iiar-c8y @martin-c8y @mgrumann @saran-govindarajan @scmi-c8y @pink-mongoose @BeateRixen @MWindel
/content/change-logs/application-enablement/dtm* @rahultsag @pavanshivajirao @lara-c8y @BeateRixen @MWindel
/content/change-logs/analytics/apama-in-c8y* @kailol-sag @Rob-J-SAG @BeateRixen @MWindel @skom-c8y
/content/change-logs/analytics/cdh* @cheinz-sag @ChrisFurlong @BeateRixen @MWindel

/content/datahub/ @cheinz-sag @BeateRixen @MWindel
/content/device-management-application/ @Oezge-Akin @l2p- @BeateRixen
/content/dtm/ @pavanshivajirao @lara-c8y @BeateRixen @MWindel
content/authentication @BeateRixen

/content/streaming-analytics/ @kailol-sag @BeateRixen @MWindel @skom-c8y
# 'block-reference-bundle' is automatically and frequently committed to - don't bother _too many_ CODEOWNERS
/content/streaming-analytics/block-reference-bundle/ @kailol-sag @skom-c8y

Update content/change-logs/device-management/ui-c8y-1020-35-1-typeahead-updates-form-on-list-selection.md
  content/change-logs/device-management/ui-c8y-1020-35-1-typeahead-updates-form-on-list-selection.md
Owners: @Oezge-Akin, @aaronraab, @l2p-, @BeateRixen, @MWindel

Update content/change-logs/device-management/ui-c8y-1020-35-1-typeahead-updates-form-on-list-selection.md
  content/change-logs/device-management/ui-c8y-1020-35-1-typeahead-updates-form-on-list-selection.md
Owners: @Oezge-Akin, @aaronraab, @l2p-, @BeateRixen, @MWindel

Update lwm2m-agent changelog dates to 2024-10-17 08:50:01.639392 as version 1020.391.0 was released
  content/change-logs/device-management/lwm2m-agent-10-20-385-0-improvement-empty-payload-no-ct.md
  content/change-logs/device-management/lwm2m-agent-10-20-387-0-improvement-location-update.md
  content/change-logs/device-management/lwm2m-agent_10-20-387-0_double-bulk-registration-execution-issue-resolved.md
Owners: @Oezge-Akin, @aaronraab, @l2p-, @BeateRixen, @MWindel

Update opcua changelog dates to 2024-10-17 08:55:15.429050 as version 1020.90.0 was released
  content/change-logs/device-management/opcua-10-20-88-0-fix-device-type-encoding.md
Owners: @Oezge-Akin, @aaronraab, @l2p-, @BeateRixen, @MWindel

Update .github/workflows/daily-changelog-dates-trigger.yml
  .github/workflows/daily-changelog-dates-trigger.yml
Owners: @BeateRixen, @MWindel

Update add-release-dates/index.ts
  add-release-dates/index.ts
Owners: @BeateRixen, @MWindel

Update add-release-dates/index.ts
  add-release-dates/index.ts
Owners: @BeateRixen, @MWindel

Update add-release-dates/index.ts
  add-release-dates/index.ts
Owners: @BeateRixen, @MWindel

MTM-59369: removing redundant python script
  scripts/get-component-details-from-chart.py
Owners: @BeateRixen, @MWindel

added sector for each file where we want to see the options
  content/edge/connecting-devices-to-edge.md
  content/edge/edge-rest-api.md
  content/edge/edge-update.md
  content/edge/using-edge.md
Owners: @BeateRixen, @MWindel

Added edge sector for required fields
  content/edge-kubernetes/architecture-concept.md
  content/edge-kubernetes/k8-connecting-devices-to-edge.md
  content/edge-kubernetes/k8-using-edge.md
Owners: @BeateRixen, @MWindel

Update c8y-current-version.html
  themes/c8ydocs/layouts/shortcodes/c8y-current-version.html
Owners: @BeateRixen, @MWindel

added short codes to change logs
  content/change-logs/_index.md
  content/change-logs/analytics/apama-in-c8y-20240425-New-EPL-actions-for-creating-and-parsing-the-c8y_Position-fragment.md
  content/change-logs/analytics/apama-in-c8y-20240426-Bookmarks-available-from-User-menu-in-Streaming-Analytics-application.md
  content/change-logs/analytics/apama-in-c8y-20240514-REST-queries-with-pageSize-set-to-1-no-longer-loop-infinitely.md
  content/change-logs/analytics/apama-in-c8y-24-18-0-Apama-correlator-version.md
  content/change-logs/analytics/apama-in-c8y-24-18-0-EPL-enhancements-in-Apama-10-15-4.md
  content/change-logs/analytics/apama-in-c8y-24-18-0-New-EPL-sample.md
  content/change-logs/application-enablement/cumulocity-10-18-280-0-Fixed-issue-with-realtime-notifications.md
  content/change-logs/application-enablement/cumulocity-10-20-308-0-build-microservice-container-images-with-docker-25.md
  content/change-logs/application-enablement/cumulocity-undefined-Deprecation-of-the-Microservice-SDK-for-C#.md
  content/change-logs/application-enablement/cumulocity-undefined-use-of-linux-croup-v2.md
  content/change-logs/application-enablement/dtm-1019-1-1-role-based-access-for-bulk-import-of-assets.md
  content/change-logs/application-enablement/dtm-1019-1-1-set-limit-for-key-length.md
  content/change-logs/application-enablement/ui-c8y-1019-12-0-services-registry-service-that-introduces-a-hook-do-register-services-in.md
  content/change-logs/application-enablement/ui-c8y-1019-22-2-navigator-nodes-are-now-correctly-removed-when-refreshing-the-sub-assets.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-added-alert-when-mo-delete-operation-is-taking-more-time.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-extend-the-dynamic-forms-page-in-codex.md
  content/change-logs/application-enablement/ui-c8y-1020-0-0-load-dynamic-options-from-app-specific-path-6207.md
  content/change-logs/application-enablement/ui-c8y-1020-0-19-updated-documentation-link-for-edge-docs-6516-graft-release-cd-6522.md
  content/change-logs/application-enablement/ui-c8y-undefined-removal-of-deprecated-device-grid-model-classes-column-implementations-and-services.md
  content/change-logs/device-management/ui-c8y-1019-24-6-fix-type-error-when-using-hook-device-list-columns-with-factory.md
  content/change-logs/edge/edge-appliance-vm-10-18-0-Release-identical-to-10-18.md
  content/change-logs/edge/edge-on-kubernetes-10-18-0-Release-identical-to-10-18.md
  content/change-logs/platform-services/cumulocity-10-18-30-0-fixed-issue-with-invalid-parameters.md
  content/change-logs/platform-services/cumulocity-10-18-31-0-Copy-of-web-applications-with-versions.md
  content/change-logs/platform-services/cumulocity-10-20-409-0-fixed-critical-security-issue.md
  content/change-logs/platform-services/cumulocity-undefined-advance-notice-of-reduced-storage-limits-for-notifications-2.0-and-microservice-based-data-broker.md
  content/change-logs/platform-services/ui-c8y-1019-4-0-improved-the-appearance-of-the-single-sign-on-sso-login-button.md
  content/device-integration/device-integration-thin-edge.md
  content/previous-versions/documentation-repository.md
Owners: @BeateRixen, @MWindel, @kailol-sag, @Rob-J-SAG, @skom-c8y, @rahultsag, @janhommes, @pavanshivajirao, @lara-c8y, @Oezge-Akin, @aaronraab, @l2p-, @iiar-c8y, @martin-c8y, @mgrumann, @saran-govindarajan, @scmi-c8y, @pink-mongoose

removed shortcode
  content/change-logs/application-enablement/dtm-1.1.0-added-subassets-module-to-dtm-plugins-component.md
  content/change-logs/platform-services/ui-c8y-10-18-495-0-fixed-an-issue-with-email-template-for-scheduled-exports.md
  content/edge/operating-edge-bundle/diagnostics.md
  themes/c8ydocs/layouts/shortcodes/product-c8y.html
Owners: @rahultsag, @pavanshivajirao, @lara-c8y, @BeateRixen, @MWindel, @iiar-c8y, @martin-c8y, @mgrumann, @saran-govindarajan, @scmi-c8y, @pink-mongoose

added more shortcodes
  content/additional-resources/more-documentation.md
  content/change-logs/analytics/apama-in-c8y-24-18-0-Enhanced-Cumulocity-IoT-transport-in-Apama-10-15-4-to-reflect-changes-in-REST-API.md
  content/datahub/working-with-datahub-bundle/querying-offloaded.md
  content/welcome-developers/developer-topics.md
Owners: @BeateRixen, @MWindel, @kailol-sag, @Rob-J-SAG, @skom-c8y, @cheinz-sag

more shortcodes
  content/change-logs/platform-services/cumulocity-10-20-131-0-modified-behavior-on-creating-an-external-id-without-an-existing-associated-global-id.md
  content/change-logs/platform-services/ui-c8y-10-18-497-8-addressed-the-redirection-issues-for-support-user.md
Owners: @iiar-c8y, @martin-c8y, @mgrumann, @saran-govindarajan, @scmi-c8y, @pink-mongoose, @BeateRixen, @MWindel

Update cumulocity-10-18-31-0-Copy-of-web-applications-with-versions.md
  content/change-logs/platform-services/cumulocity-10-18-31-0-Copy-of-web-applications-with-versions.md
Owners: @iiar-c8y, @martin-c8y, @mgrumann, @saran-govindarajan, @scmi-c8y, @pink-mongoose, @BeateRixen, @MWindel

Update lwm2m-agent changelog dates to 2024-10-24 08:17:57.860231 as version 1020.393.0 was released
  content/change-logs/device-management/lwm2m-agent-10-20-385-0-improvement-empty-payload-no-ct.md
  content/change-logs/device-management/lwm2m-agent-10-20-387-0-improvement-location-update.md
  content/change-logs/device-management/lwm2m-agent_10-20-387-0_double-bulk-registration-execution-issue-resolved.md
  content/change-logs/device-management/lwm2m-agent_10-20-392-0_skip-faulty-devices-null-entries-in-the-content-format.md
Owners: @Oezge-Akin, @aaronraab, @l2p-, @BeateRixen, @MWindel

Update opcua changelog dates to 2024-10-24 08:41:45.709186 as version 1020.91.0 was released
  content/change-logs/device-management/opcua-10-20-88-0-fix-device-type-encoding.md
Owners: @Oezge-Akin, @aaronraab, @l2p-, @BeateRixen, @MWindel

Update ui-c8y changelog dates to 2024-10-24 08:25:27.347759 as version 1020.39.0 was released
  content/change-logs/application-enablement/ui-c8y-1020-29-1-info-gauge-widget-should-support-device-type-dashboards-7241.md
  content/change-logs/application-enablement/ui-c8y-1020-30-0-enable-edit-mode-when-freshly-created-dashboard-is-opened-7151-7248.md
  content/change-logs/application-enablement/ui-c8y-1020-31-1-global-title-is-now-considered-if-a-bookmark-is-set.md
  content/change-logs/application-enablement/ui-c8y-1020-32-2-fix-running-karma-tests-against-ngx-components-for-layered-products-7320.md
  content/change-logs/device-management/ui-c8y-1020-31-0-pass-selected-ids-to-bulk-action-control.md
  content/change-logs/device-management/ui-c8y-1020-31-2-opcua-device-protocol-radio-buttons-go-unselect-when-we-expand-another.md
  content/change-logs/device-management/ui-c8y-1020-32-0-changed-dm-title-to-be-title-cased.md
Owners: @rahultsag, @janhommes, @BeateRixen, @MWindel, @Oezge-Akin, @aaronraab, @l2p-

Update ui-c8y changelog dates to 2024-10-24 08:25:27.347759 as version 1020.39.0 was released
  content/change-logs/application-enablement/ui-c8y-1020-29-1-info-gauge-widget-should-support-device-type-dashboards-7241.md
  content/change-logs/application-enablement/ui-c8y-1020-30-0-enable-edit-mode-when-freshly-created-dashboard-is-opened-7151-7248.md
  content/change-logs/application-enablement/ui-c8y-1020-31-1-global-title-is-now-considered-if-a-bookmark-is-set.md
  content/change-logs/application-enablement/ui-c8y-1020-32-2-fix-running-karma-tests-against-ngx-components-for-layered-products-7320.md
  content/change-logs/application-enablement/ui-c8y-1020-33-0-allow-possibility-for-global-asset-search-when-duplicating-private-smartrule-but.md
  content/change-logs/device-management/ui-c8y-1020-31-0-pass-selected-ids-to-bulk-action-control.md
  content/change-logs/device-management/ui-c8y-1020-31-2-opcua-device-protocol-radio-buttons-go-unselect-when-we-expand-another.md
  content/change-logs/device-management/ui-c8y-1020-32-0-changed-dm-title-to-be-title-cased.md
  content/change-logs/device-management/ui-c8y-1020-35-1-typeahead-updates-form-on-list-selection.md
Owners: @rahultsag, @janhommes, @BeateRixen, @MWindel, @Oezge-Akin, @aaronraab, @l2p-

Update opcua changelog dates to 2024-10-24 08:41:45.709186 as version 1020.91.0 was released
  content/change-logs/device-management/opcua-10-20-88-0-fix-device-type-encoding.md
Owners: @Oezge-Akin, @aaronraab, @l2p-, @BeateRixen, @MWindel

Update lwm2m-agent changelog dates to 2024-10-24 08:17:57.860231 as version 1020.393.0 was released
  content/change-logs/device-management/lwm2m-agent-10-20-385-0-improvement-empty-payload-no-ct.md
  content/change-logs/device-management/lwm2m-agent-10-20-387-0-improvement-location-update.md
  content/change-logs/device-management/lwm2m-agent_10-20-387-0_double-bulk-registration-execution-issue-resolved.md
  content/change-logs/device-management/lwm2m-agent_10-20-392-0_skip-faulty-devices-null-entries-in-the-content-format.md
Owners: @Oezge-Akin, @aaronraab, @l2p-, @BeateRixen, @MWindel

MTM-59369: testing push
  .github/workflows/update-changelog-dates.yml
Owners: @BeateRixen, @MWindel

MTM-59369: testing push
  add-release-dates/index.ts
Owners: @BeateRixen, @MWindel

Update ui-c8y changelog dates to 2024-10-24 08:25:27.347759 as version 1020.39.0 was released
  content/change-logs/application-enablement/ui-c8y-1020-29-1-info-gauge-widget-should-support-device-type-dashboards-7241.md
  content/change-logs/application-enablement/ui-c8y-1020-30-0-enable-edit-mode-when-freshly-created-dashboard-is-opened-7151-7248.md
  content/change-logs/application-enablement/ui-c8y-1020-31-1-global-title-is-now-considered-if-a-bookmark-is-set.md
  content/change-logs/application-enablement/ui-c8y-1020-32-2-fix-running-karma-tests-against-ngx-components-for-layered-products-7320.md
  content/change-logs/application-enablement/ui-c8y-1020-33-0-allow-possibility-for-global-asset-search-when-duplicating-private-smartrule-but.md
  content/change-logs/device-management/ui-c8y-1020-31-0-pass-selected-ids-to-bulk-action-control.md
  content/change-logs/device-management/ui-c8y-1020-31-2-opcua-device-protocol-radio-buttons-go-unselect-when-we-expand-another.md
  content/change-logs/device-management/ui-c8y-1020-32-0-changed-dm-title-to-be-title-cased.md
  content/change-logs/device-management/ui-c8y-1020-35-1-typeahead-updates-form-on-list-selection.md
Owners: @rahultsag, @janhommes, @BeateRixen, @MWindel, @Oezge-Akin, @aaronraab, @l2p-

Update opcua changelog dates to 2024-10-24 08:41:45.709186 as version 1020.91.0 was released
  content/change-logs/device-management/opcua-10-20-88-0-fix-device-type-encoding.md
Owners: @Oezge-Akin, @aaronraab, @l2p-, @BeateRixen, @MWindel

Update lwm2m-agent changelog dates to 2024-10-24 08:17:57.860231 as version 1020.393.0 was released
  content/change-logs/device-management/lwm2m-agent-10-20-385-0-improvement-empty-payload-no-ct.md
  content/change-logs/device-management/lwm2m-agent-10-20-387-0-improvement-location-update.md
  content/change-logs/device-management/lwm2m-agent_10-20-387-0_double-bulk-registration-execution-issue-resolved.md
  content/change-logs/device-management/lwm2m-agent_10-20-392-0_skip-faulty-devices-null-entries-in-the-content-format.md
Owners: @Oezge-Akin, @aaronraab, @l2p-, @BeateRixen, @MWindel

MTM-59369: testing push
  add-release-dates/index.ts
Owners: @BeateRixen, @MWindel
